@inject Init Init

<h1>Rules Selector</h1>
<div class="row container pt-2 mt-2">
	<MatcherSelector MatchersDictionary="@(Init.MatchersDic)"></MatcherSelector>
	<ScorerSelector ScorersDictionary="@(Init.ScorerDic)"></ScorerSelector>
	<FinisherSelector FinisherDictionary="@(Init.FinishersDic)"></FinisherSelector>
	<GeneratorSelector GeneratorDictionary="@(Init.GeneratorDic)"></GeneratorSelector>
	<DealerSelector DealerDictionary="@(Init.DealersDic)"></DealerSelector>
	<TurnerSelector TurnerDictionary="@(Init.TurnerDic)"></TurnerSelector>
</div>