@page "/Game"
@using MyDominoPwa.DominoModel

<h1>Game!!!</h1>
<div class="border-bottom m-4">
	@if (!_isGameOver) {
		<span>Turno: @(GlobalState.GlobalGameState.Turn)</span>
		<br/>
		if (GlobalState.GlobalGameState.Turn is not -1) {
			<span>Player: @(GlobalState.GlobalGameState.PlayerToPlay.ToString())</span>
			@if (GlobalState.GlobalGameState.Board.Last().Check) {
				<span> se pasó por mayoneso</span>
			} else {
				<span> jugó, que crack!!!</span>
			}
			<br/>
		}
		<button class="btn btn-success m-2" @onclick="@NextMove">Next Turn</button>
	} else {
		<h3>Ganó el team fritura(@string.Join(", ", GlobalState.GlobalGame.Winner().FirstOrDefault())).</h3>
		<button class="btn btn-success m-2" @onclick="@NextGame">Next Game</button>
	}
</div>
<div class="container" style="align-content: center;width: 100%;height: 100%">
	<table style="margin:0;position: relative;">
		<tr>
			@if (GlobalState.GlobalGameState.Turn is not -1) {
				<Row Branch="@(new DualBoardTree<int>(GlobalState.GlobalGameState).LeftChild)" Inverted="@true"></Row>
				<Row Branch="@(new DualBoardTree<int>(GlobalState.GlobalGameState).RightChild)"></Row>
			}
		</tr>
	</table>
</div>
<div class="border p-2" style="background-color: azure">
	<table style="margin:0;position: relative;">
		@foreach (var (player,hand) in GlobalState.GlobalGameState.Hands) {
			<tr>
				<td>
					<h3>@player.ToString()</h3>
				</td>
				@foreach (var token in hand) {
					<td>
						<Token First="@token.Head.ToString()" Second="@token.Tail.ToString()" IsDouble="@true"></Token>
					</td>
				}

			</tr>
		}

	</table>
</div>

@code {
	IEnumerator<Game<int>> _tournamentEnumerator;
	IEnumerator<GameState<int>> _gameEnumerator;
	private bool _isGameOver;
	private bool _isTournamentOver;

	void NextMove() {
		if (_gameEnumerator.MoveNext())
			GlobalState.GlobalGameState = _gameEnumerator.Current;
		else {
			_isGameOver = true;
		}
	}

	void NextGame() {
		if (_tournamentEnumerator.MoveNext()) {
			_isGameOver = false;
			GlobalState.GlobalGame = _tournamentEnumerator.Current;
			_gameEnumerator = GlobalState.GlobalGame.GetEnumerator();
			if (_gameEnumerator.MoveNext() && _gameEnumerator.MoveNext()) {
				GlobalState.GlobalGameState = _gameEnumerator.Current;
			} else {
				_isTournamentOver = true;
			}
		}
	}

	protected override void OnInitialized() {
		base.OnInitialized();
		_tournamentEnumerator = GlobalState.GLobalTournament.GetEnumerator();
		if (_tournamentEnumerator.MoveNext()) {
			GlobalState.GlobalGame = _tournamentEnumerator.Current;
		}
		_gameEnumerator = GlobalState.GlobalGame.GetEnumerator();
		if (_gameEnumerator.MoveNext()) {
			GlobalState.GlobalGameState = _gameEnumerator.Current;
		}
	}

}

