<div class="@(IsDouble ? "domino-vertical" : "") domino" style="width: @(IsDouble ? "75px" : "150px");height: @(IsDouble ? "150px" : "75px")">
	<div class="face @(IsDouble ? "face-top" : "face-left")">
		@First
	</div>
	<div class="face @(IsDouble ? "face-bottom" : "face-right")">
		@Second
	</div>
</div>


@code {

	[Parameter]
	public string First { get; set; } = "";

	[Parameter]
	public string Second { get; set; } = "";

	[Parameter]
	public bool IsDouble { get; set; } = false;

	protected override void OnInitialized() {
		base.OnInitialized();
		IsDouble = (IsDouble || First == Second);
	}


}